<body class="dash-body nav-sm" id="dash">
    <div class="container body">
        <div class="main_container">
            <%= render partial: "layouts/left_col", :locals => {active: "Table"} %>
            <%= render partial: "layouts/nav_bar", :locals => {active: "Table"} %>
            <div class="right_col" >
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <%= form_for @table , url: updateTable_path do |f| %>
                            <fieldset>
                                <div class="">
                                    <div class="table_section">
                                        <%= f.text_field :section, class:"createTable", placeholder: "section e.g Indoor/Outdoor" %>
                                    </div>
                                    <div class="table_num">
                                        <%= f.text_field :table_number, class:"createTable", placeholder: "Tbale number" %>
                                    </div>    
                                    <div class="table_status">
                                        <%= f.text_field :status, class:"createTable", placeholder: "status" %>
                                    </div>    
                                    <div class="table_seats">
                                        <%= f.text_field :seats, class:"createTable", placeholder: "seats" %>
                                    </div>  
                                    <div class="table_seats">
                                        <%= f.hidden_field :id, class:"createTable", placeholder: "seats" %>
                                    </div>  
                                    <center>  
                                        <%= f.submit "Update", class:"SubmitButton"%>
                                    </center>     
                                </div>
                            </fieldset>
                        <%end%>
                    </div>    
                </div>
            </div>
            
        </div>
    </div>
</div>
</body>    